@page "/AceptarReserva/{reservationId:int}/{userId:int}"
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Entities
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Interfaces
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Services
@inject UserSessionService session
@inject ILoanService loanService

@if (aceptarReserva == true && session.user.Role.ToString().Equals("Librarian"))
{
    <div class="reserva-aceptada">
        <h2>¡Se Creo el prestamo con exito!</h2>
    </div>
}
else
{
    <div class="reserva-no-aceptada">
        <h2>¡No se pudo crear el prestamo!</h2>
    </div>

}

@code {
    [Parameter]
    public int reservationId { get; set; }
    [Parameter]
    public int userId { get; set; }

    private bool aceptarReserva = false;

    protected override async Task OnInitializedAsync()
    {
        aceptarReserva = await loanService.CreateLoan(reservationId, userId);
    }
}
