@page "/CancelarReserva/{reservaId:int}"
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Services
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Interfaces
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Entities
@inject UserSessionService session
@inject IReservationService reservation

@if(cancelarReserva == true)
{
    <div class="cancelar-reserva">
        <h2>¡Se Cancelo la reserva con exito!</h2>
    </div>
}
else
{
    <div class="cancelar-no-reserva">
        <h2>¡No se pudo cancelar la reserva!</h2>
    </div>
}

@code {
    [Parameter]
    public int reservaId { get; set; }

    bool cancelarReserva = false;

    protected override async Task OnInitializedAsync()
    {
        cancelarReserva = await reservation.CancelReservation(reservaId, session.user.Id);
    }
}
