@page "/CompleteLoan/{loanId:int}"
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Entities
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Interfaces
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Services
@inject UserSessionService session
@inject ILoanService loanService


@if (completeLoan)
{
    <div class="informacion-exito">
        <h2>!Se a terminado el prestamo!</h2>
        <h3>tiene 1 hora para entregar el material</h3>
    </div>
}
else
{
    <div class="informacion-error">
        <h2>!No se a podido terminar el prestamo!</h2>
        <h3>dirijase a la biblioteca</h3>
    </div>
}

@code {
    [Parameter]
    public int loanId { get; set; }

    bool completeLoan = false;

    protected override async Task OnInitializedAsync()
    {
        completeLoan = await loanService.ReturnLoan(loanId, session.user.Id);
    }
}
