@page "/"
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Services
@inject UserSessionService session

<PageTitle>Home Principal</PageTitle>


<div class="portada-biblioteca">
    @if (session.user.Id != 0)
    {
        <h1>Bienvenido @session.user.FirstName @session.user.MiddleName @session.user.LastName</h1>
        <h2>
            Nos alegra tenerte de vuelta en la biblioteca.<br />
            Gestiona tus préstamos, reservas y descubre nuevas lecturas.
        </h2>
    }
    else
    {
        <h1>Bienvenido a la Biblioteca Digital de la Universidad</h1>
        <h3>
            Explora nuestro catálogo, encuentra libros de interés,
            y realiza tus reservas desde cualquier lugar.
        </h3>
    }
</div>
