@page "/LogOut"
@inject UserSessionService session
@inject NavigationManager Navigation

<div class="despedida-biblioteca">
    <h3>@session.user.FirstName @session.user.LastName</h3>
    <h2>¡Hasta luego!</h2>
    <p>Gracias por visitar la biblioteca. Esperamos verte pronto para seguir descubriendo el mundo de los libros.</p>

    <input class="btn btn-success" type="button" value="Salir" @onclick="logout" />
</div>

@code {
    public void logout()
    {
        session.CerrarSesion();
        Navigation.NavigateTo("/");
    }
}
