.realizar-reserva {
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    background-color: #eef7f1;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeOutIn 0.6s ease-in-out;
}

    .realizar-reserva h2 {
        font-size: 28px;
        color: #2d6a4f;
        margin-bottom: 10px;
    }

    .realizar-reserva h3 {
        font-size: 20px;
        color: #40916c;
        margin-bottom: 5px;
    }

    .realizar-reserva p {
        font-size: 16px;
        color: #333;
        margin-bottom: 20px;
    }

@keyframes fadeOutIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-realizar-reserva {
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    background-color: #eef7f1;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeOutIn 0.6s ease-in-out;
}

    .no-realizar-reserva h2 {
        font-size: 28px;
        color: #2d6a4f;
        margin-bottom: 10px;
    }

    .no-realizar-reserva h3 {
        font-size: 20px;
        color: #40916c;
        margin-bottom: 5px;
    }

    .no-realizar-reserva p {
        font-size: 16px;
        color: #333;
        margin-bottom: 20px;
    }

@keyframes fadeOutIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
