@page "/RealizarReserva/{materialId:int}"
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Services
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Interfaces
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Entities
@inject UserSessionService session
@inject IReservationService reservation

@if (@realizarReserva == true)
{
    <div class="realizar-reserva">
        <h2>¡La reserva se ha realizado con exito!</h2>
    </div>
    

}
else
{
    <div class="no-realizar-reserva">
        <h2>¡No se a podido realizar la reserva!</h2>
    </div>
}

@code {
    [Parameter]
    public int materialId { get; set; }

    bool realizarReserva;

    protected override async Task OnInitializedAsync()
    {
        realizarReserva = await reservation.CreateReservation(materialId,session.user.Id);
    }
    
}
